<table>
  
  <%= form_tag 'books/search' do%>
  <input type="text" name="search" placeholder="검색"/>
  <button type="summit">GO</button>
  <%end%>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Avatar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @result.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.content %></td>
        <td><%= book.avatar %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <%= link_to "전체글보기", books_path %>
  </tbody>
</table>
