<h1><%= @doc.title%></h1>
<h2><%= @doc.writer%></h2>
<p><%= @doc.content%></p>

<a href="/post/index">목록으로</a>
<a href="/post/<%=@doc.id%>/edit">수정하기</a>
<a href="/post/<%=@doc.id%>" data-confirm="삭제하시겠습니까?" data-method="destroy">삭제하기</a>
